@model IEnumerable<Ajax_Crud.Models.ProductViewModel>

@{
    int page = ViewBag.page;
    int totalPage = ViewBag.totalPage;
    int totalRow = ViewBag.totalRow;
    int dem = 0;
}

<div class="container">
    @* List *@
    <div class="row">
        <table id="table" class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Created Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                int stt = 1;
                foreach (var m in Model)
                {
                  
                    <tr>
                        <td>@stt</td>
                        <td class='Name'>@m.Name</td>
                        <td class="Price">@m.Price</td>
                        <td class="Quantity">@m.Quantity</td>
                        @if (m.Status == 1)
                        {
                            <td>Active</td>
                        }
                        else if (m.Status == 0)
                        {
                            <td>Block</td>
                        }
                        else if (m.Status == -1)
                        {
                            <td>Delete</td>
                        }
                        <td class="Createdate">@m.Createdate</td>
                        <td class="Id" hidden="hidden">@m.Id</td>

                        <td>
                            @switch (m.Status)
                            {
                                case 1:
                                    // Active
                                    <button id="detail" class="btn btn-outline-info">Detail</button>
                                    <button id="update" class="btn btn-outline-success" data-toggle="modal" data-target="#form">Update</button>
                                    <button class="btn btn-outline-secondary" onclick="ActiveStatus('@m.Id', 'Block')">Block</button>
                                    <button class="btn btn-outline-danger" onclick="ActiveStatus('@m.Id', 'Delete')">Delete</button>
                                    break;
                                case 0:
                                    // Unblock
                                    <button id="detail" class="btn btn-outline-info">Detail</button>
                                    <button id="update" class="btn btn-outline-success" data-toggle="modal" data-target="#form">Update</button>
                                    <button class="btn btn-outline-secondary" onclick="ActiveStatus('@m.Id', 'Active')">UnBlock</button>;
                                    <button class="btn btn-outline-danger" onclick="ActiveStatus('@m.Id', 'Delete')">Delete</button>
                                    break;
                                default:
                                    break;
                            }
                        </td>
                    </tr>
                    stt++;
                }
                }
            </tbody>
        </table>
    </div>
    @* Paging *@
    <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
            <lable><b>Page @(page) of @(totalPage)</b></lable>
        </div>
        <div class="col-5">
            <ul class="pagination justify-content-right">
                <li class="page-item @(page == 1 ? "disabled" : "" )">
                    <a class="page-link" data-dt-idx="1" tabindex="-1">First</a>
                </li>
                <li class="page-item  @(page == 1 ? "disabled" : "" )">
                    <a class="page-link" data-dt-idx="@(page-1)" tabindex="-1">Previous</a>
                </li>
                @for (int i = page - 2; i <= totalPage; i++)
                {
                    if (i > 0 && dem < 5)
                    {
                        <li class="page-item @(page == i ? "active" : "")"><a class="page-link" data-dt-idx="@i">@i</a></li>
                        dem++;
                    }
                }
                <li class="page-item @(page == totalPage ? "disabled" : "" )">
                    <a class="page-link" data-dt-idx="@(page+1)" tabindex="-1">Next</a>
                </li>
                <li class="page-item @(page == totalPage ? "disabled" : "" )">
                    <a class="page-link" data-dt-idx="@totalPage" tabindex="-1">Last</a>
                </li>
                
            </ul>
        </div>
        <div class="col-3"></div>
        <input value="@totalPage" id="totalPage" hidden />
    </div>
</div>

<script>



    $(".page-link").click(function () {
        _page = $(this).attr("data-dt-idx");
        ListPro(_page);
    })

    $("#table").on('click', '#detail', function () {
        var currentRow = $(this).closest("tr");
        var Name = currentRow.find(".Name").html();
        var Price = currentRow.find(".Price").html();
        var Quantity = currentRow.find(".Quantity").html();
        var Createdate = currentRow.find(".Createdate").html();
        swal({
            title: " -- Detai Product -- ",
            text: "Name Product : " + Name + "\n" + "Price Product : " + Price + "\n" + "Quantity Product : " + Quantity + "\n" + "Create Date : " + Createdate,
            buttonsStyling: true,
        })
    });

    $("#table").on('click', '#update', function () {
        $("#exampleModalLabel").html("<h2> -- Update Product -- </h2>");
        $("#validate_name").html("");

        var currentRow = $(this).closest("tr");
        var Name = currentRow.find(".Name").html();
        var Price = currentRow.find(".Price").html();
        var Quantity = currentRow.find(".Quantity").html();
        var Id = currentRow.find(".Id").html();

        // gán giá trị của td vào modal
        $("#Name").val(Name);
        $("#Price").val(Price);
        $("#Quantity").val(Quantity);
        _id = Id;
    });

    function ActiveStatus(Id, eProductStatus) {
        var titleMessage;
        alert(@totalRow);

        if (eProductStatus == "Delete") {
            titleMessage = "Are you sure Delete ?"
        } else if (eProductStatus == "Active") {
            titleMessage = "Are you sure Unblock ?"
        } else {
            titleMessage = "Are you sure Block ?"
        }

        swal({
            title: titleMessage,
            text: "You will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: [
                'No, cancel it!',
                'Yes, I am sure!'
            ],
            dangerMode: true,
        }).then(function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: "/Product/ActiveStatus/" + Id,
                    data: {
                        eProductStatus: eProductStatus
                    },
                    type: "POST",
                    dataType: 'json',
                    success: ((data) => {
                        if (eProductStatus == "Delete") {
                            swal("Delete Success", "You clicked the button!", "success");
                            ListPro(1);
                        } else if (eProductStatus == "Active") {
                            swal("UnBlock Success", "You clicked the button!", "success");
                            ListPro(@(page));
                        } else {
                            swal("Block Success", "You clicked the button!", "success");
                            ListPro(@(page));
                        }
                        alert(@totalRow);

                    })
                });
            } else {
                swal("Cancelled", "Your imaginary file is safe :)", "error");
            }
        })
    }
</script>

