@model IEnumerable<Ajax_Crud.Models.Product>

    <table id="table" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.id</td>
                    <td>@m.name</td>
                    <td>@m.price</td>
                    <td>@m.quantity</td>
                    <td>
                        <button id="update" class="btn btn-success" data-toggle="modal" data-target="#form">
                            Update
                        </button>
                        <button onclick="DeleteById(@m.id)" class="btn btn-danger">
                            Delete
                        </button>
                    </td>
                </tr>
            } 
        </tbody>
    </table>

    <script>
        // biến toàn cục
        var _id;

        // click button update lấy giá trị của td tại table
        $("#table").on('click', '#update', function () {
            $("#exampleModalLabel").html("<h2> -- Update Product -- </h2>");

            // lấy giá trị của row tr
            var currentRow = $(this).closest("tr");

            var id = currentRow.find("td:eq(0)").text(); // lấy giá trị của td tại vị trí thứ 0 là id 
            var name = currentRow.find("td:eq(1)").text(); // lấy giá trị của td tại vị trí thứ 1 là name
            var price = currentRow.find("td:eq(2)").text(); // lấy giá trị của td tại vị trí thứ 2 là price
            var quantity = currentRow.find("td:eq(3)").text(); // lấy giá trị của td tại vị trí thứ 3 là quantity

            // gán giá trị của td vào modal
            $("#name").val(name);
            $("#price").val(price);
            $("#quantity").val(quantity);
            _id = id;
        });

    </script>
